<article class="content dashboard-page">
    <section class="section">
        <div class="row sameheight-container">
            <div class="col col-12 col-sm-12 col-md-6 col-xl-8 stats-col">
                <div class="card sameheight-item stats" data-exclude="xs">
                    <div class="card-block">
                        <div class="title-block">
                            <h4 class="title"> Stats </h4>
                        </div>
                        <div class="row row-sm stats-container">
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                                google.charts.load('current', { 'packages': ['corechart'] });
                                google.charts.setOnLoadCallback(drawChart);
                                function drawChart() {

                                    var data = google.visualization.arrayToDataTable([
                                        ['Title ', 'Total', { role: 'style' }],
                                        ['Product', {{ total1 }}, 'red'],            // RGB value
                                ['Product Views', {{ total2 }}, 'blue'],            // English color name
                                    ['Catalog', {{ total3 }}, 'green'],
                                    ['Bill', {{ total4 }}, 'yellow'], // CSS-style declaration
                                    ['User', {{ total5 }}, 'orange']
                                                ]);


                                var options = {
                                    title: 'Total Statistic'
                                };

                                var chart = new google.visualization.BarChart(document.getElementById('piechart'));

                                chart.draw(data, options);
                                            }
                            </script>
                            <div id="piechart" style="width: 800px; height: 500px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title"> Top 10 Product View </h3>
                        </div>
                    </div>
                    <ul class="item-list striped">
                        <li class="item item-list-header">
                            <div class="item-row">
                                <div class="item-col item-col-header fixed item-col-img xs"></div>
                                <div class="item-col item-col-header item-col-title">
                                    <div>
                                        <span>Name</span>
                                    </div>
                                </div>

                                <div class="item-col item-col-header item-col-stats">
                                    <div class="no-overflow">
                                        <span>Price</span>
                                    </div>
                                </div>
                                <div class="item-col item-col-header item-col-category">
                                    <div>
                                        <span>Category</span>
                                    </div>
                                </div>
                                <div class="item-col item-col-header item-col-date">
                                    <div>
                                        <span>View</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{#each topView}}
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a class="">
                                            <h4 class="item-title no-wrap"> {{name}} </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-col item-col-stats">
                                    <div class="item-heading">Price</div>
                                    <div class="no-overflow">
                                        <div> {{price}}₫</div>
                                    </div>
                                </div>
                                <div class="item-col item-col-category">
                                    <div class="item-heading">Category</div>
                                    <div> {{catalog.name}} </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">View</div>
                                    <div> {{amount_view}} </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="row sameheight-container">
            <div class="col-xl-12">
                <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                    <div class="card-header bordered">
                        <div class="header-block">
                            <h3 class="title"> Top 10 Product Sold </h3>
                        </div>
                    </div>
                    <ul class="item-list striped">
                        <li class="item item-list-header">
                            <div class="item-row">
                                <div class="item-col item-col-header fixed item-col-img xs"></div>
                                <div class="item-col item-col-header item-col-title">
                                    <div>
                                        <span>Name</span>
                                    </div>
                                </div>

                                <div class="item-col item-col-header item-col-stats">
                                    <div class="no-overflow">
                                        <span>Price</span>
                                    </div>
                                </div>
                                <div class="item-col item-col-header item-col-category">
                                    <div>
                                        <span>Category</span>
                                    </div>
                                </div>
                                <div class="item-col item-col-header item-col-date">
                                    <div>
                                        <span>Sold</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{#each topSold}}
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a class="">
                                            <h4 class="item-title no-wrap"> {{name}} </h4>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-col item-col-stats">
                                    <div class="item-heading">Price</div>
                                    <div class="no-overflow">
                                        <div> {{price}}₫</div>
                                    </div>
                                </div>
                                <div class="item-col item-col-category">
                                    <div class="item-heading">Category</div>
                                    <div> {{catalog.name}} </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Sold</div>
                                    <div> {{amount_sold}} </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</article>
<footer class="footer">
    <div class="footer-block buttons">
        <iframe class="footer-github-btn"
            src="https://ghbtns.com/github-btn.html?user=modularcode&repo=modular-admin-html&type=star&count=true"
            frameborder="0" scrolling="0" width="140px" height="20px"></iframe>
    </div>
    <div class="footer-block author">
        <ul>
            <li> created by <a href="https://github.com/modularcode">ModularCode</a>
            </li>
            <li>
                <a href="https://github.com/modularcode/modular-admin-html#get-in-touch">get in touch</a>
            </li>
        </ul>
    </div>
</footer>
<div class="modal fade" id="modal-media">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Media Library</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body modal-tab-container">
                <ul class="nav nav-tabs modal-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                    </li>
                </ul>
                <div class="tab-content modal-tab-content">
                    <div class="tab-pane fade" id="gallery" role="tabpanel">
                        <div class="images-container">
                            <div class="row">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade active in" id="upload" role="tabpanel">
                        <div class="upload-container">
                            <div id="dropzone">
                                <form action="/" method="POST" enctype="multipart/form-data"
                                    class="dropzone needsclick dz-clickable" id="demo-upload">
                                    <div class="dz-message-block">
                                        <div class="dz-message needsclick"> Drop files here or click to upload. </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Insert Selected</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="confirm-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-warning"></i> Alert</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to do this?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</div>